.input-file input[type="file" i] {
    color: #444;
    padding: 5px;
    margin: 5px 0;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #555;
    width: 100%;
}

.input-file input[type="file" i]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #283593;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.input-file input[type="file" i]::file-selector-button:hover {
    background: #A31545;
}